*{
    margin: 0;
    padding: 10px;
    text-align: center;
}

body{
    background-color: rgb(201, 201, 201);
}

a{
    text-decoration: none;
}

h1{
    margin-top: 10px;
    font-size: 60px;
}

.republican{
    color: red;
}

.democratic{
    color: blue;
}

button{
    margin-top: 20px;
    border-radius: 20px;
    height: 50px;
}

.info{
    display: flex;
    margin: 20px;
    font-size: 20px;
}

.nixon{
    border-right: 1px solid black;
}

.humphrey{
    border-left: 1px solid black;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nButton{
    background-color: red;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    width: 120px;
}
.nButton:hover{
    background-color: rgb(156, 0, 0);
}

.hButton{
    background-color: blue;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    width: 120px;
}
.hButton:hover{
    color: rgb(201, 201, 201);
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(201, 201, 201);
}

#page{
    height: 800px;
}

#nixBTN{
    position: absolute;
    transition: all 1s;
}